ANVIL_API_URL=https://preprod.api.ada-anvil.app/v2/services
ANVIL_API_KEY=your_anvil_api_key
POLICY_KEY_HASH=your_policy_key_hash
POLICY_SIGN_KEY=ed25519e_sk...
REDIS_URL=[your_redis_connection_string](redis://localhost:6379)
TREASURY_BASE_ADDRESS_PREPROD=addr_test...
POLICY_EXPIRATION_DATE=2030-01-01
